.header {
  padding: 39px 58px 92px 58px;
}
.logo-main {
  width: 205px;
}
.welcome-rows {
  margin-top: 160px;
  padding-left: 28px;
}
.welcome-row {
  font-size: 64px;
  letter-spacing: 3px;
}
.welcome-row-two {
  margin-top: 0;
  width: 517px;
  line-height: 74px;
}
.welcome-buttons {
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
}
.welcome-button {
  /* width: 310px; */
  width: 47.5%;
  height: 77px;
  border-radius: 39px;
  font-size: 14px;
}
.welcome-button-text {
  width: 182px;
  padding-left: 40px;
}
.apple-row-one,
.google-row-one {
  font-weight: normal;
}
.google-button {
  width: 182px;
  padding-left: 63px;
}
.welcome-button-goo {
  margin-top: 0;
}
.apple-button::before {
  top: -4px;
  left: -25px;
  width: 45px;
  height: 45px;
}
.google-button::before {
  top: 0;
  left: -9px;
  width: 42px;
  height: 42px;
}
.three-steps-container {
  padding: 55px 0 0 0;
}
.three-steps-one::before {
  background-image: url(../img/footballer_497.png);
  background-position: -160px 90px;
}
.three-steps-two::before {
  background-image: url(../img/basketballer_436.png);
  background-position: 100% 37px;
}
.step {
  padding: 30px 33px 30px 291px;
}
.steps-main-title {
  padding: 0 33px 0px 291px;
  font-size: 80px;
}
.step-left {
  padding: 29px 320px 37px 33px;
}
.steps-main-title-two {
  padding: 0 33px 0 33px;
}
.steps-title {
  font-size: 32px;
  padding-left: 5px;
  letter-spacing: 0.05em;
}
.steps-num {
  top: 34px;
  font-size: 18px;
}
.steps-num::after {
  width: 20px;
  height: 5px;
  top: 24px;
  left: 1px;
}
.steps-text {
  line-height: 26px;
  letter-spacing: 0.05em;
}
.use-content {
  padding: 65px 0 98px 0;
}
.use-num {
  top: -80px;
  left: 32px;
  padding: 35px 45px 48px 45px;
  font-size: 24px;
}
.use-num::before {
  top: 70px;
  width: 27px;
  height: 5px;
  border-radius: 3px;
}
.use-title {
  padding: 0 33px 10px 27px;
  font-size: 80px;
  letter-spacing: 0;
}
.use-text {
  padding: 0 33px 0 33px;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.06em;
}
.footer {
  padding: 317px 0 20px 0;
}
.footer-title::before {
  top: -191px;
  margin-left: -66px;
  width: 132px;
  height: 137px;
  border-radius: 32px;
  background-size: 105px;
}
.download {
  letter-spacing: 0.05em;
  font-size: 80px;
}
.you-can {
  letter-spacing: 0;
  font-size: 36px;
  line-height: 37px;
}
.footer-buttons {
  margin-top: 285px;
  padding: 0 63px;
}
.logo-footer {
  padding-top: 55px;
}
