* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.ttf") format("opentype"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.ttf") format("opentype"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
}
body {
  font-family: "OpenSans";
}
.upp-text {
  text-transform: uppercase;
}
.header {
  padding: 33px 20px 83px 20px;
  font-weight: bold;
  color: #fff;
  background-image: url(../img/football_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}
.header-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.logo-main {
  width: 124px;
  align-self: center;
}
.welcome-rows {
  margin-top: 127px;
  display: flex;
  flex-direction: column;
}
.welcome-row {
  display: block;
  font-size: 28px;
  letter-spacing: 1px;
}
.welcome-row-two {
  margin-top: 15px;
  width: 234px;
  line-height: 34px;
  align-self: flex-end;
}
.welcome-buttons {
  margin-top: 83px;
}
.welcome-button {
  display: flex;
  width: 100%;
  height: 35px;
  text-decoration: none;
  color: #fff;
  font-size: 8px;
  border-radius: 18px;
  background-color: #5e42b0;
}
.welcome-button-text {
  width: 110px;
  margin: auto;
  padding-left: 27px;
  position: relative;
}
.apple-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -5px;
  width: 24px;
  height: 24px;
  background-image: url(../svg/apple_logo_black.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.google-button::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -4px;
  width: 23px;
  height: 23px;
  background-image: url(../svg/google-play.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.apple-row,
.google-row {
  display: block;
}
.welcome-button-goo {
  margin-top: 15px;
}
.steps,
.steps-2 {
  position: relative;
}
.steps::before,
.steps-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  z-index: 3;
}
.steps::before {
  background-image: url(../img/footballer_192.png);
  background-position: center 80px;
}
.steps-2::before {
  background-image: url(../img/basketballer_302.png);
  background-position: center 80px;
}
.item {
  padding-right: 20px;
  padding-left: 20px;
}
.steps-main-title {
  padding-top: 8px;
  padding-bottom: 255px;
}
.steps-main-title-h3 {
  font-size: 50px;
  font-weight: bold;
  color: #e7e7e7;
}
.item-numbered {
  position: relative;
  padding-top: 51px;
  padding-bottom: 52px;
}
.steps-num {
  position: absolute;
  top: 55px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.steps-num-purple {
  color: #8765dd;
}
.steps-num::after {
  left: 0;
  top: 18px;
  content: "";
  position: absolute;
  width: 16px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e42b0;
}
.steps-num-white::after {
  background-color: #fff;
}
.steps-title {
  margin-left: 29px;
  padding-bottom: 19px;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 1px;
  color: #e7e7e7;
  position: relative;
}
.steps-text {
  line-height: 18px;
  letter-spacing: 0.01em;
}
.steps-text-white {
  color: #c1c1c1;
}
.steps-item-2 {
  background-color: #f6f4fa;
}
.steps-item-3 {
  background-color: #5e42b0;
}
.steps-item-3-2 {
  background-color: #090c35;
}
.use-block {
  display: flex;
  flex-direction: column;
}
.use-img-current {
  display: block;
  width: 100%;
  height: auto;
}
.use-img-current img {
  display: block;
  width: 100%;
  height: auto;
}
.use-content {
  position: relative;
  padding-top: 25px;
  padding-bottom: 80px;
}
.use-num {
  position: absolute;
  top: -59px;
  left: 20px;
  padding: 19px 26px 28px 26px;
  display: block;
  font-weight: bold;
  color: #fff;
  background-color: #5e42b0;
}
.use-num::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 17px;
  height: 4px;
  border-radius: 2px;
  background-color: #8f7bc8;
}
.use-title {
  padding: 0 0 11px 20px;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.05em;
  color: #e7e7e7;
}
.use-text {
  padding: 0 20px 0 20px;
  line-height: 20px;
  letter-spacing: 0.05em;
}
.footer {
  padding: 100px 20px 20px 20px;
  min-height: 100vh;
  background-image: url(../img/game_767.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}
.footer-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.footer-title {
  margin: 0 auto;
  text-align: center;
}
.footer-main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 72px;
  height: 74px;
  border-radius: 13px;
  background-image: linear-gradient(#7756d7, #50379b);
  -webkit-box-shadow: 5px 5px 15px 0px #0000008f;
  box-shadow: 5px 5px 15px 0px #0000008f;
}
.footer-main-logo-container {
  width: 58px;
}
.footer-title-text {
  padding-top: 47px;
}
.download {
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 32px;
  color: #fff;
}
.you-can {
  letter-spacing: 0.05em;
  font-size: 14px;
  color: #9b8ec1;
}
.footer-buttons {
  margin-top: 70px;
}
.logo-footer {
  padding-top: 83px;
}
